.container {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 20rem 40rem auto;
}
.box {
    background-color: #ccccff;
    padding: 10px;
}
#companies {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
}

#information {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

.info-flex {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 10rem auto;
}

#data {
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
}
#description1 {
    grid-column: 1 / span 2;
}

#location {
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
}

#stockAverages {
    grid-column: 3 / span 1;
    grid-row: 4;
}

#map {
    height: 300px;
}
#stockDetails {
    width: 90%;
    /*height: auto;*/
    /*margin: 0 auto;*/
}

.loading, .hidden {
    display: none !important;
}
.chartView {
    display: grid;
    width: 100%;
    grid-gap: 5px;
    grid-template-columns: auto 300px;
}
.chartView #data {
    grid-column: 1;
    grid-row: 1 / span 2;
}
.chartView #financials {
    display: block;
    grid-column: 2;
    grid-row: 2 / span 1;
}
.chartView #information {
    grid-column: 2;
    grid-row: 1 / span 1;
}
#data section{
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 50% auto;
    grid-template-rows: 40% auto;
}
#line-chart{grid-column: 1 / span 2;}
#line{height: content-box;}
#candlestick-chart, #column-chart{
    height: 90%;
}
#candlestick{
    height: 90%;
}
canvas {
    background-color: white;
}
