body{
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 20rem 50rem auto;
    grid-template-rows: 46vh 25vh 100px;
}
.box {
    background-color: #daffcc;
    border: 2px solid rgb(153, 29, 29);
    padding: 10px;
    border-radius: 15px;
}
strong{font-size: xx-large;}
#companies {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
}
img#Credits{
    height: 50px;
}

#Credits{
    margin-top: 5px;
}
#logo{
    width: 100px;
    max-height: 50px;
    position: center;
    padding: 0;
}
#information {
    grid-column: 2;
    grid-row: 1;
}
.info-flex {
    display: grid;
    grid-template-columns: 10rem auto;
}

#data {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}
#description1 {
    grid-column: 1 / span 2;
}

#location {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
}

#stockAverages {
    grid-column: 3 / span 1;
    grid-row: 3;
}

#map {
    height: 80%;
}
#stockDetails {
    width: 100%;
    overflow-y: scroll;
    height: 88%;
}
#stockDetails table{
    width: 100%;
}
.hidden {
    display: none !important;
}
.tooltiptext{
    position: absolute;
    z-index: 1;
    visibility: hidden;
    background-color: #4fa74c;
    border: 2px solid rgb(153, 29, 29);
    border-radius: 15px;
    padding: 15px;
}
.chartView {
    display: grid;
    width: 100%;
    grid-gap: 5px;
    grid-template-columns: auto 400px;
    grid-template-rows: auto;
}
.chartView #data {
    grid-column: 1;
    grid-row: 1 / span 2;
}
.chartView #financials {
    display: block;
    grid-column: 2;
    grid-row: 2 / span 1;
}
.chartView #information {
    grid-column: 2;
    grid-row: 1 / span 1;
}
#data section{
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 40%;
}
#line-chart{
    grid-column: 1 / span 2;
    grid-row: 2;
    height: 100%;
    padding-top: 120px;
}

#candlestick-chart, #column-chart{
    height: 90%;
}
#candlestick{
    height: 90%;
}
canvas {
    background-color: white;
    height: 100%;
}
ul li {
    list-style: none;
}
#list-container{
    height: 70%;
    overflow-y: scroll;
}
th.stockColumn:hover{cursor: pointer;}

#company-list{
    padding: 0px;
}

#company-list li{
    background-color  : #bc7e21;
    color             : #fff;
    padding           : .5em;
    text-decoration   : none;
    border-bottom: 1px solid #3b2185f1;
    font-size: medium;
    list-style-type: none;
    /*min-height: auto;*/
    /*max-height: fit-content;*/
    text-align: center;
}

#company-list > li:hover  {
    background-color  : #2586d7;
    color             : #fff;
    border: 1px solid white;
    cursor: pointer;
  } 

header{
    text-align: center;
    background-color: #bc7e21;
    color: white;
    border: 2px solid rgb(153, 29, 29);
    margin-bottom: 10px;
    border-radius: 15px;
}

.d-1{
    display: inline-block; 
    vertical-align: top;
}

.d-2{
    display: inline-block; 
    vertical-align: top; 
    margin-top: 12px;
    margin-left: 10px;
}

button{
    background-color: rgb(231, 42, 42);
    color: white;
    font-size: 18px;
    border: 2px solid green;
    border-radius: 20px;
    padding: 7px;
    padding-top: 8px;
}

button:hover{
    background-color: green;
    border: 2px solid rgb(231, 42, 42);
    cursor: pointer;
}

.center{
    text-align: center;
}

#search-box{
    border: 2px solid rgb(153, 29, 29);
}

.right{
    margin-right: 10px;
}

#speak{
    margin-top: 15px;
}

.border{
    border: 2px solid green; 
    color: rgb(231, 42, 42);
    padding: 3px;
}